<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%if logged_in? %>
      <p class="nav_user">Welcome, <b><%= @current_user.email %></b> Guru</p>
    <% end %>
    <%= link_to "TEST GURU",tests_path %><br>
    <%= link_to "Login", login_path %>
    <%= link_to "Registr",signup_path %>
    <%= link_to "Back", root_path %>
    <%= yield %>
    
  </body>
</html>
